# This file designates the default owners for files in this repository.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
# You can use usernames like @owner or team names like @organization/team.
* @clrslate/clrswarm-maintainers

# You can also specify owners for specific file types or directories.
# For example:
# /docs/ @clrslate/docs-team
# *.js @javascript-owner
